/*Limpar as formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f3f3f3; 
}

#navegacao {
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 45px;
	position: fixed;
	width: 100%;
	top: 0;
}

#area {
	width: 720px;
	margin: 0 auto;
}

#area-principal {
	width: 720px;
	margin: 55px auto 10px auto;

}

#postagem {
	background: #fff;
	margin-bottom: 10px;
}

#logo {
	float: left;
}

#menu {
	float: right;
	padding: 10px;
}

/*Links do menu*/
a {
	padding: 5px;
	text-decoration: none;
}
/*Links não visitados*/
a:link {
	color: #838383;
}

/*Links visitados*/
a:visited {
	color: #838383;
}

/*Links passa o mouse*/
a:hover {
	background: #b9c941;
	color: #fff;
}

/*Links ativado*/
a:hover {
	color: #535353;
}

/*Classes*/
.verde {
	color: #b9c941;
}

.data-postagem {
	font-size: 12px;
	border-bottom: 1px solid #f4f4f4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.img-postagem {
	float: left;
	margin: 0 10px 10px 0;
}

.postado {
	border-left: 5px solid #d8d8d8;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}